* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header {
    background-color: rgba(8, 11, 18, .5);
    height: 100px;
    width: calc(100vw - 300px);
    position: fixed;
}

.header a {
    float: right;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 18px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 3px;
    margin: 30px 20px 0 0;
}

.header a:hover {
    background-color: #1db954;
    color: #fff;
    border: none;
}

.main {
    background-color: #141922;
    height: calc(100vh - 100px);
    overflow: auto;
    float: left;
    width: calc(100% - 300px);
}

 /* barra laterale sinistra */
.aside {
    background-color: #000;
    height: calc(100vh - 100px);
    overflow: auto;
    width: 300px;
    float: left;
}

.aside img {
    width: 150px;
}

.aside .logo {
    padding: 25px 0 0 30px;
}

.aside .wrapper-index {
    padding: 25px 0 0 30px;
}   

.aside ul {
    list-style-type: none;
}

.aside ul li {
    line-height: 30px;
}

.aside .index img {
    width: 30px;
    padding: 0 3px 5px 0;
    vertical-align: middle;
}

.aside .index a {
    color: #878787;
    text-decoration: none;
    font-weight: 800;
    padding: 5px;
}

.lorem {
    padding: 30px;
}

.footer {
    height: 100px;
    background-color: #282828;
}