* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    height: 100px;
    width: calc(100vw - 300px);
    position: fixed;
}

.header a {
    float: right;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 18px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 3px;
    margin: 30px 20px 0 0;
}

.main {
    background-color: orangered;
    height: calc(100vh - 100px);
    overflow: auto;
    float: left;
    width: calc(100% - 300px);
}

.aside {
    background-color: indigo;
    height: calc(100vh - 100px);
    overflow: auto;
    width: 300px;
    float: left;
}

.lorem {
    padding: 30px;
}

.footer {
    height: 100px;
    background-color: blue;
}