/*  reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regole generali css e tipografia */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #878787;
    font-weight: 600;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* fine clearfix */

/* contenitore app */
.app-wrapper {
    height: 100vh;
    width: 100%;
    min-width: 500px;
}

main {
    width: 100%;
    height: calc(100% - 90px);
}

footer {
    background-color: #282828;
    height: 90px;
    width: 100%;
} 

/* navigazione sinistra */
.main-nav {
    background-color: #000000;
    width: 250px;
    height: 100%;
    float: left;
    color: #fff; 
    overflow: hidden;
}

.main-nav a:hover {
    color: #fff;
}

.main-nav .nav-elements-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
}

.main-nav .nav-elements-container .logo img {
    width: 100px;
    padding: 0;
}

.main-nav #logo-small img {
    width: 25px;
    display: none;
}

.main-nav .nav-element {
    padding: 10px 0;
    /* height: 80px; */
    overflow: hidden;
    flex-shrink: 0;
    min-height: 50px;
}

.main-nav .nav-element.download img {
    margin-right: 15px;
    margin-top: 5px;
}

.main-nav .nav-element img {
    width: 25px;
    vertical-align: middle;
    padding-bottom: 5px;
}

.main-nav .playlist-container span {
    font-size: 22px;
    color: #000;
    padding: 3px 8px;
    background-color: #878787;
}

.main-nav .playlist-container .target:before {
    content: '+';
    background-color: #878787;
    color: #141922;
    padding: 1px 8px;
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.main-nav .nav-element.playlist-container {
    /* height: calc(100% - 240px); */
    flex-grow: 1;
}

.main-nav .nav-element.playlist-container .playlist {
    overflow-y: auto;
    height: 60%;
}

.main-nav .nav-element.playlist-container .playlist li {
    padding: 7px 0;
}

/* contenuto a destra applicazione */
.main-content {
    background-color: #141922; 
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

/* footer player */
.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 20px;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px 10px; */
}
/* autore */
footer .author img {
    width: 55px;
    vertical-align: middle;
}

footer .author li {
    margin-left: 10px;
    font-size: 14px;
}
/* brano e nome */
footer .song {
    display: inline-block;
    position: absolute;
    left: 98px;
    top: 50px;
}

footer .song a {
    font-size: 10px;
}

footer li a span {
    color: #fff;
}
/* icone cuore */
footer .heart {
    font-size: 20px;
    flex-grow: 1;
    /* margin-right: 10%; */
}

footer .heart li {
    margin-left: 20px;
}
/* il player */
.footer-container .wrapper-player-top {
    margin-bottom: 10px;
}

.footer-container .wrapper-player-top li {
    margin-left: 50px;
    font-size: 18px;
}
/* seconda e quarta icona */
.footer-container .wrapper-player-top li:nth-child(even) {
    font-size: 28px;
}

.footer-container .wrapper-player-top li:first-child {
    margin: 0;
}
/* fine seconda e quarta icona */
.footer-container .fa-play {
    border: 1px solid #878787;
    padding: 10px;
    border-radius: 50%;
}

.footer-container .wrapper-player-container {
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* elementi span ai lati */

.footer-container .wrapper-player-container .span.left {
    position: absolute;
    left: -100px;
    top: 45px;
}
.footer-container .wrapper-player-container .span.right {
    position: absolute;
    right: -100px;
    top: 45px;
}

/* player bottom */
.footer-container .wrapper-player-bottom {
    width: 400px;
    position: absolute;
    top: 50px;
    left: -50px;
}

.footer-container .wrapper-player-bottom::after {
    content: '';
    display: table;
    clear: both;
}

.footer-container .wrapper-player-bottom .time {
    border: 2px solid #fff;
    width: 40%;
    float: left;
    position: relative;
}

.footer-container .wrapper-player-bottom .time .pallino {
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: -9px;
    top: -7px;
    display: none;
}

.footer-container .wrapper-player-bottom .time:hover {
    border-color: #1db954;
}

.footer-container .wrapper-player-bottom .time:hover .pallino {
    display: block;
}

.footer-container .wrapper-player-bottom .remaining-time {
    border: 2px solid #878787;
    width: 60%;
    float: left;
}


/* fine player */

/* inizio sezione audio a destra */
.footer-container .wrapper-audio {
    width: 500px;
}

.footer-container .audio {
    float: left;
}

.footer-container .audio li {
    margin-right: 50px;
}

.footer-container .audio-timeline {
    width: 70px;
    float: left;
    margin-top: 5px;
}

.footer-container .audio-timeline::after {
    content: '';
    display: table;
    clear: both;
}

.footer-container .audio-timeline .seconds {
    border: 2px solid #fff;
    width: 20%;
    float: left;
}

.footer-container .audio-timeline .remaining-seconds {
    border: 2px solid #878787;
    width: 80%;
    float: left;
}


/* media queries */
@media screen and (max-width: 1300px) {

    .main-nav .nav-element.logo {
        padding-top: 10px;
        display: none;
    }

    .main-nav #logo-small img {
        display: block;
        padding-top: 10px;
    }

    .footer-container .audio {
        margin-left: 200px;
    }

}

@media screen and (max-width :992px) {

    .main-nav {
        width: 80px;
    }

    .main-content {
        width: calc(100% - 80px);
    }
}

/* header app */
.upgrade {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 90px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.upgrade a {
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 18px;
    letter-spacing: 3px;
    font-size: 10px;
    padding: 10px 15px;
    position: absolute;
    top: 25px;
    right: 20px;
    color: #fff;
}


